<app-topbar></app-topbar>

<div class="learning-platform">

    <header class="platform-header">
 
        <h1>¡Hola,  {{ authService.user$()?.name ?? ""}}👋</h1>
        <p>Bienvenido a tu plataforma de aprendizaje interactivo</p>

    </header>
  
    <main class="platform-main">

      <section class="activities-section">
        <h2>Actividades disponibles</h2>
        <div class="activities-grid">
          <div class="activity-card" *ngFor="let activity of activities">
            <div class="card-header">
              <div class="icon-title-container">
                <div class="icon-container" [style.backgroundColor]="activity.iconBgColor">
                  <lucide-icon [name]="activity.icon.name" size="24"></lucide-icon>
                </div>
                <h3>{{activity.title}}</h3>
              </div>
            </div>
            <div class="card-content">
              <p>{{activity.description}}</p>
            </div>
            <div class="card-footer">
              <button 
              class="join-button"
              [style.backgroundColor]="activity.buttonColor"
              (click)="goToActivity(activity)">
              Unirse ahora
              <lucide-icon name="arrowRight" size="16" class="arrow-icon"></lucide-icon>
            </button>
            </div>
          </div>
        </div>
      </section>
  
    
    </main>
    <footer class="footer1">
      <div class="container text-center">
        <p class="mb-0 text-muted">
          &copy; 2025 <a [routerLink]="['/team']" class="text-decoration-none text-primary">BrainQuest</a>. Todos los derechos reservados.
        </p>
      </div>
    </footer>
  </div>

