<nb-card>
  <nb-card-header>Debates - BrainQuest</nb-card-header>
  <nb-card-body>
    <nb-chat title="Debates ">
      <nb-chat-message *ngIf="messages().length === 0" message="No hay mensajes todavía. ¡Empieza el debate!" sender="Sistema"></nb-chat-message>
      <nb-chat-message 
        *ngFor="let msg of messages()"
        [message]="msg.contentText"
        [reply]="isReply(msg)"
        [date]="msg.createdAt"
        [sender]="msg.user.name ?? 'Unknown'">
      </nb-chat-message>
    </nb-chat>
  </nb-card-body>
  <nb-card-footer>
    <div class="chat-input">
      <textarea [(ngModel)]="messageText" placeholder="Escribe sobre lo que quieras debatir..." class="expanding-textarea" rows="1" (input)="adjustTextareaHeight($event)" #textAreaBox> </textarea>
      <button *ngIf="!debateFinished" nbButton (click)="callSave()">Enviar</button>
    </div>
    <button *ngIf="debateFinished" nbButton class="restart-button" (click)="restartDebate()">
      Volver a jugar
    </button>
  </nb-card-footer>
</nb-card>
