<!-- src/app/components/select-category-form/select-category-form.component.html -->

<form (ngSubmit)="onSubmit()">
    <label for="category">Categoría:</label>
    <select [(ngModel)]="category" name="category" required>
      <option value="Política">Política</option>
      <option value="Religión">Religión</option>
      <option value="Leyes">Leyes</option>
      <!-- Agregar más opciones según sea necesario -->
    </select>
  
    <label for="difficulty">Dificultad:</label>
    <select [(ngModel)]="difficulty" name="difficulty" required>
      <option value="Baja">Baja</option>
      <option value="Media">Media</option>
      <option value="Difícil">Difícil</option>
    </select>
  
    <button type="submit">Iniciar Trivia</button>
  </form>
  