<div class="challenge-card">
  <div class="challenge-top-bar"></div>
  <div class="challenge-content">
    <div class="challenge-header">
      <h3>{{ challenge.title }}</h3>
      <span class="level-badge">{{ challenge.level }}</span>
    </div>
    <p class="challenge-description">{{ challenge.description }}</p>
    <div class="challenge-details">
      <span>Duración: {{ challenge.duration }}</span>
      <span>{{ challenge.participantsOrRecord }}</span>
    </div>
    <button 
      *ngIf="showButton"
      class="participate-button" 
      [style.backgroundColor]="challenge.buttonColor">
      {{ challenge.buttonText }}
    </button>
  </div>
</div>