<mat-grid-list cols="4" rowHeight="1:1" gutterSize="10px">
  @for (item of missionXUsers; track item.id) {
    <mat-grid-tile>
      <mat-grid-tile-header class="tile-header"></mat-grid-tile-header>  
      <div class="tile-content">
        <p><strong>Misión:</strong> {{ item.mission?.objective?.objectiveText }}</p>
        <p><strong>Progreso:</strong> {{ item.progress }}/{{ item.mission?.objective?.ammountSuccesses }}</p>
        <p><strong>Experiencia:</strong> {{ item.mission?.experience }}</p>
        <p><strong>Puntaje Requerido:</strong> {{ item.mission?.objective?.scoreCondition}}</p>
        <p><strong>Completado:</strong> {{ item.isCompleted ? 'Sí' : 'No' }}</p>
      </div>
      <mat-grid-tile-footer class="tile-footer"></mat-grid-tile-footer> 
    </mat-grid-tile>
  }
  @empty {
    <mat-grid-tile>
      <div class="tile-content text-center">
        <p class="mb-0">No hay misiones disponibles, chequea más tarde</p>
      </div>
    </mat-grid-tile>
  }
</mat-grid-list>
