<div class="table-container table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Objetivo</th>
        <th scope="col">Creado por</th>
        <th scope="col">Inicio</th>
        <th scope="col">Fin</th>
        <th scope="col">Diario?</th>
        <th scope="col">Activo?</th>
        <th scope="col">Experiencia</th>
        <th scope="col">Tipo de juego</th>

        <th class="text-center" scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      @for (mission of missions; track mission.id) {
        <tr>
          <th scope="row">{{ mission.id }}</th>
          <td>
            <div>
              <strong>{{ mission.objective?.objectiveText }}</strong><br>
              <small>Puntaje: {{ mission.objective?.scoreCondition }}, Cantidad Éxitos: {{ mission.objective?.ammountSuccesses }}</small>
            </div>
          </td>
          <td>{{ mission.createdBy?.name || '—' }}</td>
          <td>{{ mission.startDate | date: 'dd/MM/yyyy HH:mm' }}</td>
          <td>{{ mission.endDate | date: 'dd/MM/yyyy HH:mm' }}</td>
          <td>{{ mission.isDaily ? 'Sí' : 'No' }}</td>
          <td>{{ mission.isActive ? 'Sí' : 'No' }}</td>
          <td>{{ mission.experience }}</td>
          <td>{{ mission.gameType?.gameType || '—' }}</td>
     
          <td>
            <button (click)="callModalAction.emit(mission)" class="btn btn-warning me-2" type="button">
              <i class="fas fa-pen"></i>
            </button>
            <button (click)="callDeleteAction.emit(mission)" class="btn btn-danger" type="button">
              <i class="fas fa-trash"></i>
            </button>
          </td>
        </tr>
      } @empty {
        <tr>
          <td colspan="10">
            <div class="d-flex justify-content-center align-items-center w-100">
              <p class="mb-0">No hay misiones creadas</p>
            </div>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
