<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipo - BrainQuest</title>
    <link rel="stylesheet" href="../about/about.component.scss">
</head>
<body>
    <header>
      <div class="logo-container">
        <a href="http://localhost:4200/index">
            <img src="../../../../assets/img/Logo-equipo.webp" alt="Logo BrainQuest" class="logo">
        </a>
    </div>

        <nav>
          <ul>
            <li><a onclick="window.location.href='http://localhost:4200/index'">Sobre Nosotros</a></li>
            <li><a onclick="window.location.href='http://localhost:4200/about'">Equipo</a></li>
            <li><a onclick="window.location.href='http://localhost:4200/productos'">Productos</a></li>
            <li><a onclick="window.location.href='http://localhost:4200/contact'">Contacto</a></li>
          </ul>
        </nav>
    </header>

    <main>
      <section class="team">
          <h1>Conoce a Nuestro Equipo</h1>
          <div class="team-container">
              <div class="member-card">
                  <img src="../../../../assets/img/warriors/guerrero 1.webp" alt="Sebastián Chinchilla Arguedas" class="profile-pic">
                  <h3>Sebastián Chinchilla Arguedas</h3>
                  <p>Coordinador General</p>
                  <p><strong>Fortalezas:</strong> Creativo, Enfocado e Iniciativa.</p>
              </div>
              <div class="member-card">
                  <img src="../../../../assets/img/warriors/guerrero 2.webp" alt="Malcom Quirós Madriz " class="profile-pic">
                  <h3>Malcom Quirós Madriz </h3>
                  <p>Coordinador de Desarrollo</p>
                  <p><strong>Fortalezas:</strong> Responsable, Asertivo, Compromiso, Disiplina.</p>
              </div>
              <div class="member-card">
                  <img src="../../../../assets/img/warriors/guerrero 3.jpg" alt="Johnny Pérez Boza" class="profile-pic">
                  <h3>Johnny Pérez</h3>
                  <p>Coordinador de soporte</p>
                  <p><strong>Fortalezas:</strong> Empatía, Puntualidad, Perseverancia.</p>
              </div>
              <div class="member-card">
                <img src="../../../../assets/img/warriors/guerrero 4.jpg" alt="Jose Mario Salazar Morera" class="profile-pic">
                <h3>Jose Mario Salazar Morera</h3>
                <p>Coordinador de Calidad</p>
                <p><strong>Fortalezas:</strong> Responsable, Autodidacta y Ordenado.</p>
            </div>
          </div>
      </section>
  </main>

    <footer>
        <p>&copy; 2024 BrainQuest | <a onclick="window.location.href='http://localhost:4200/index'">The Keyboard Warriors</a></p>
    </footer>
</body>
</html>