<div class="register-container">
  <h2>BrainQuest</h2>
  <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" id="nombre" formControlName="nombre">
      <div *ngIf="registroForm.get('nombre')?.invalid && registroForm.get('nombre')?.touched" class="error-message">
        El nombre es requerido.
      </div>
    </div>
    <div class="form-group">
      <label for="apellidos">Apellidos</label>
      <input type="text" id="apellidos" formControlName="apellidos">
      <div *ngIf="registroForm.get('apellidos')?.invalid && registroForm.get('apellidos')?.touched" class="error-message">
        Los apellidos son requeridos.
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" formControlName="email">
      <div *ngIf="registroForm.get('email')?.invalid && registroForm.get('email')?.touched" class="error-message">
        Por favor, introduce un email válido.
      </div>
    </div>
    <div class="form-group">
      <label for="contrasena">Contraseña</label>
      <input type="password" id="contrasena" formControlName="contrasena">
      <div *ngIf="registroForm.get('contrasena')?.invalid && registroForm.get('contrasena')?.touched" class="error-message">
        La contraseña debe tener al menos 6 caracteres.
      </div>
    </div>
    <button type="submit" [disabled]="registroForm.invalid">Registrarse</button>
  </form>
  <p>¿Ya tienes una cuenta? <a [routerLink]="['/login']">Iniciar Sesión</a></p>
</div>