
body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%; 
  }
  

  footer {
    margin-bottom:0;
    flex-shrink: 0;
    bottom: 0;
    width: calc(100%);
    position: fixed;
     
  }

