<div class="login-container">
  <div class="d-flex align-items-center justify-content-center h-100">
    <div class="login-card">
      <div class="w-100">
        <div class="text-center">
          <a class="logo text-center" routerLink="/">
            <img
              width="250"
              class="img-fluid mb-4"
              src="../../../../assets/icons/logo-BrainQuest.jpg"
              alt="Logo"
            />
          </a>
        </div>

        <div class="login-header">BrainQuest</div>

        <div class="login-form-wrapper">
          <form (ngSubmit)="handleLogin($event)" class="login-form" #frm="ngForm">
            <div class="input-group">
              <div class="input-icon">
                <i class="fas fa-user"></i>
              </div>
              <input
                type="text"
                placeholder="Correo Electrónico"
                class="input-field"
                [(ngModel)]="loginForm.email"
                name="username"
                #username="ngModel"
                required
              />
              <div *ngIf="username.invalid && username.touched" class="error-message">
                El Correo Electrónico es requerido.
              </div>
            </div>

            <div class="input-group">
              <div class="input-icon">
                <i class="fas fa-lock"></i>
              </div>
              <input
                type="password"
                placeholder="Contraseña"
                class="input-field"
                [(ngModel)]="loginForm.password"
                name="password"
                #password="ngModel"
                required
              />
              <div *ngIf="password.invalid && password.touched" class="error-message">
                La contraseña es requerida.
              </div>
            </div>

            <div class="checkbox-group">
              <div class="checkbox-item">
                <input
                  type="checkbox"
                  id="rememberUser"
                  [(ngModel)]="loginForm.rememberUser"
                  name="rememberUser"
                />
                <label for="rememberUser" class="checkbox-label">Recordar Usuario</label>
              </div>
              <div class="checkbox-item">
                <input
                  type="checkbox"
                  id="rememberPassword"
                  [(ngModel)]="loginForm.rememberPassword"
                  name="rememberPassword"
                />
                <label for="rememberPassword" class="checkbox-label">Recordar Contraseña</label>
              </div>
            </div>

            <button type="submit" class="submit-button">Ingresar</button>

            <div *ngIf="loginError" class="error-message">
              {{ loginError }}
            </div>
          </form>
        </div>

        <div class="register-link">
          ¿No tienes una cuenta? <a [routerLink]="['/signup']" class="register-link-text">Regístrate</a>
        </div>
      </div>
    </div>
  </div>
</div>
