<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyectos - BrainQuest</title>
    <link rel="stylesheet" href="./productos.component.scss">
</head>
<body>
    <header>
      <div class="logo-container">
        <a href="http://localhost:4200/index">
            <img src="../../../../assets/img/Logo-equipo.webp" alt="Logo BrainQuest" class="logo">
        </a>
    </div>

        <nav>
          <ul>
            <li><a onclick="window.location.href='http://localhost:4200/index'">Sobre Nosotros</a></li>
            <li><a onclick="window.location.href='http://localhost:4200/about'">Equipo</a></li>
            <li><a onclick="window.location.href='http://localhost:4200/productos'">Productos</a></li>
            <li><a onclick="window.location.href='http://localhost:4200/contact'">Contacto</a></li>
          </ul>
        </nav>
    </header>

    <main>
      <section class="projects">
          <h1>Proyectos Realizados</h1>
          <div class="projects-container">
            <div class="project-card">
              <h2>Simulador de Debate con IA</h2>
              <p>BrainQuest es una plataforma innovadora que te permite desarrollar tus habilidades argumentativas a 
                través de debates interactivos moderados por inteligencia artificial.</p>
              <a onclick="window.location.href='http://localhost:4200'" class="project-button">Ver Proyecto</a>
          </div>
          
          </div>
      </section>
  </main>

  <footer>
    <p>&copy; 2024 BrainQuest | <a onclick="window.location.href='http://localhost:4200/index'">The Keyboard Warriors</a></p>
  </footer>
</body>
</html>