<section class="brainquest-container">
  <header>
    <h1>BrainQuest</h1>
    <p>Es mucho más que una plataforma: es un nuevo destino para explorar, crear y crecer</p>
  </header>

  <div class="about-goal-container">
    <section class="about-us">
      <h2>¿Quiénes Somos?</h2>
      <p>
        Es una página con múltiples opciones dentro de ella. ¿Te imaginas un 
        espacio donde las ideas cobran vida, los debates se transforman en 
        oportunidades de aprendizaje y la creatividad no tiene límites?
      </p>
    </section>

    <section class="our-goal">
      <h2>Que buscamos</h2>
      <p>
        El objetivo principal en BrainQuest es transformar el aprendizaje en 
        una experiencia divertida, interactiva y enriquecedora. Además, para 
        aquellas personas que quieran entrenar sus habilidades para una entrevista 
        de trabajo, contamos con un espacio para que puedan aumentar y desarrollar 
        sus habilidades en estos campos.
      </p>
    </section>
  </div>

  <section class="services">
    <h2>Algunos de nuestros Servicios</h2>
    <div class="servicios-grid" #scrollContainer>
      <button mat-button (click)="scrollLeft()">&#9664;</button>
      <mat-card class="example-card" appearance="outlined" *ngFor="let service of services; let i = index" [class.active]="i === activeIndex">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{ service.title }}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="service.image" [alt]="service.description">
        <mat-card-content>
          <p>{{ service.description }}</p>
        </mat-card-content>
      </mat-card>
      <button mat-button (click)="scrollRight()">&#9654;</button>
    </div>
  </section>

  <section class="testimonials">
    <h2>Testimonios</h2>
    <div class="testimonials-grid">
      <div *ngFor="let testimonial of testimonials" class="testimonial-card">
        <p class="testimonial-text"> {{ testimonial.text }} </p>
        <p class="testimonial-author"><strong>{{ testimonial.name }}</strong></p>
      </div>
    </div>
  </section>
</section>