@defer {
    <div class="row p-4">
      <div class="col-12 ">
        <div class="d-flex justify-content-center align-items-center">
          <h2>Debates</h2>
        </div>
      </div>

      <!-- @if(gamesService.game$().length) {
        <app-pagination
          [service]="gamesService"
          [customCall]="true"
          (callCustomPaginationMethod)="gamesService.getAllByUser()"
        />
      } -->
    </div>


    <button id="gameStart" (click)="playGame()">Toggle Visibility</button>
    <app-chat *ngIf="isComponentVisible"></app-chat>

    <!-- ng-template #debateGameModal>
  <app-modal
    [hideFooter]="true"
  >
    <div>
      <app-orders-form
        [orderForm]="orderForm"
        (callSaveMethod)="saveOrder($event)"
        (callUpdateMethod)="updateOrder($event)"
      />
    </div>
  </app-modal>
</ng-template> -->
} @loading (minimum 1.5s) {
    <app-loader/>
}
