@defer {
  <div class="page-container">
    <section class="debates-container">
      <div class="header-container">
        <h1 class="debates-title">Debates</h1>
      </div>

      <button *ngIf="!isComponentVisible" id="gameStart" 
              class="start-debate-btn"
              (click)="playGame()"
              aria-label="Empezar un nuevo debate">
        Empezar a debatir
      </button>
      
      <app-chat 
        *ngIf="isComponentVisible"
        (callSaveMethod)="saveMessage($event)"  
        [messages]="messages"
        class="chat-container">
      </app-chat>
    </section>
  </div>
}
@loading (minimum 1.5s) {
  <app-loader/>
}